<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <base href="/" />
    <title>Test</title>
    <!-- <link rel="stylesheet" href="/styles/resets.css" />
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/form.css" />
    <link rel="stylesheet" href="/styles/footer.css" /> -->
  </head>

  <body>
    <header></header>

    <main>
      <div>
        <h1 class="title">Meaning Cloud API</h1>
        <h2 class="title">Language Assessment Tool</h2>
      </div>

      <section>
        <div id="form">
          <input
            id="input-field"
            type="text"
            name="input"
            placeholder="Enter a sentence or phrase here"
          />
          <button id="submitButton" name="submit">
            Submit
          </button>
        </div>
      </section>

      <section>
        <strong>Meaningcloud Analysis:</strong>
        <br />
        <br />
        <div id="serverMessage"></div>
      </section>
    </main>

    <footer></footer>
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script>
  </body>
</html>
