<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <base href="/" />
    <title>Test</title>
    <!-- <link rel="stylesheet" href="/styles/resets.css" />
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/form.css" />
    <link rel="stylesheet" href="/styles/footer.css" /> -->
  </head>

  <body>
    <header>
      <div class="">
        Logo
      </div>
      <div class="">
        navigation
      </div>
    </header>

    <main>
      <section>
        <input
          id="input-field"
          type="text"
          name="input"
          onfocus="this.value"
          value="Enter Text Here"
        />
        <button id="submitButton" name="submit">
          Submit
        </button>
      </section>

      <section>
        <strong>Irony indicator:</strong>
        <div id="serverMessage"></div>
      </section>
    </main>

    <footer>
      <p>This is a footer</p>
    </footer>
  </body>
</html>
