@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: darkseagreen;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: white;
}

.title {
  font-size: 30pt;
  line-height: 1.5;
  color: white;
}

main {
  flex: 2;
}

#submitButton {
  color: white;
  font-weight: bold;
  font-size: 25px;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  border: white 7px solid;
  background-color: cornflowerblue;
  box-shadow: 0px 8px 10px rgb(78, 107, 82);
  transition: 0.15s;
}
#submitButton:hover {
  color: white;
  font-weight: bold;
  font-size: 25px;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  border: white 7px solid;
  background-color: rgb(94, 139, 223);
  box-shadow: 0px 8px 10px rgb(78, 107, 82);
}
#submitButton:active {
  box-shadow: 0px 2px 5px rgb(78, 107, 82);
}

#submitButton:focus {
  outline: none;
}

section {
  max-width: 800px;
  margin: 50px auto;
}
