#form {
  // border: 1px solid #545454;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0px 5px 10px rgb(104, 138, 104);
}

input {
  padding: 5px 20px;
  width: 100%;
  line-height: 16px;
  margin: 10px 0;
  height: 60px;
  color: black;
  font-size: 16pt;
  border-radius: 10px;
}

input:focus {
  outline: none;
}
